/**************************
     Created by Smuke and Carcraftz :)
***************************/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;900&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0; 
}

body {
    display: flex;
	background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #2305AB);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;

    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: white;
    font-family: Nunito, sans-serif;
    font-weight: 900;
    font-size: 3rem;
      text-align:center;

}

p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
}
footer{
  color:white;
  margin-top:500;
padding:10px 0px 0px 0px;
}
#altoption{
    background-color: white;
  color: black;
  border: none;
    width: 200px;
    height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1em;
    text-overflow: ellipsis;
    background: white;
    font-family: Roboto, sans-serif;
    font-weight: 300;
      border-radius: 10em;
}
/*************
     Data
**************/
.title {
    color: white;
    font-family: Nunito, sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    text-align:center;
}
.text {
    color: white;
    font-family: Nunito, sans-serif;
    font-weight: 100;
    font-size: 1rem;
      text-align:center;
  
}
#definition {
  display:flex;
  align-items:center;
  flex-direction:column;
}
#syllables {
  display:flex;
  align-items:center;
  flex-direction:column;
}
#similar {
  display:flex;
  align-items:center;
  flex-direction:column;
}
/*************
     Logo
**************/

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 2.5em;
}

.logo p {
    color: white;
    text-align: center;
}

/*************
     Form
**************/

.url-form {
    background: white;
    display: flex;
    margin-top: 2.25em;
    margin-bottom: 2.25em;
    border-radius: 10em;
    height: 40px;
    width: 300px;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media only screen and (min-width: 768px) {
    .url-form {
        width: 600px;
    }
}

#inputField {
    border: none;
    width: 600px;
    outline: none;
    margin-left: 1.5em;
    margin-right: 1em;
    text-overflow: ellipsis;
    background: none;
    font-family: Roboto, sans-serif;
    font-weight: 300;
  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: black
}

#goButton {
    color: #747275;
    font-size: 1.5em;
    height: 24px;
    width: 24px;
    margin-right: .4em;
}

/*************
     Footer
**************/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  font-size: .75rem;
  margin-bottom: 1em;
}

footer i {
    color: white;
    margin-left: .5em;
    margin-right: .5em;
}

/*************************
   Animated Background
**************************/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*************************
   Loader
**************************/
  .loader {
  border: 4px solid #faf7f2; /* Light grey */
  border-top: 6px solid white; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 36px;
  animation: spin 1s linear infinite;
    
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*************************
   Tables
**************************/
th, td {
  text-align: center;
  padding: 8px;
  color:white;
}


th {
  color: white;
  text-decoration: underline overline;
}